/*TextInput.css*/
.input-container {
	position: relative;
	width: 100%;
	height: 40px;
	display: flex;
}
.input-icon {
	height: 40px;
	width: 40px;
	display: flex;
	z-index: 100;
	position: absolute;
}
.input-icon > img {
	max-width: 20px;
	margin: auto;
}
input {
	height: 100%;
	margin: auto 0;
	width: 100%;
	border: 4px solid #0092ff;
	border-radius: 1000px;
	padding-left: 32px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
input:active {
	outline: 1px solid #0092ff;
}