/*Ingredient.css*/
.ingredient {
	display: inline-block;
    padding: 4px 8px;
    background-color: #404547;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	border-radius: 2px;
}